hdt-cart-drawer,
.hdt-sticky-btn-atc {
    z-index: 9999 !important;
}
.shopify-payment-button,
hdt-compare.hdt-product-form__btn-compare,
hdt-wishlist.hdt-product-form__btn-wishlist,
button.hdt-product-form__submit{
    order: -1;
}
#smile-ui-lite-container,
.sca_aff_customer_refer_container {
    z-index: 999 !important;
}

#___ratingbadge_0 {
    display: none !important;
}

.hdt-top-bar .hdt-slider__container a {
    padding: 6px 12px;
    margin-left: 30px;
    background-color: #ffffff;
    color: #000;
    border-radius: 6px;
}

.hdt-top-bar .hdt-slider__container a:hover {
    background-color: #f5f5f5;
}

hdt-cart-drawer .hdt-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    gap: 10px;
}
hdt-cart-drawer .hdt-box hdt-code {
    cursor: pointer;
    font-weight: 600;
}

hdt-cart-drawer .hdt-box hdt-code span {
    color: var(--text-color);
}

hdt-cart-drawer .hdt-box hdt-code span.ante-code-only {
    color: var(--code-color);
}

.hide-mobile {
    display: none !important;
}

.hide-pc {
    display: block !important;
}

.hide-pc .hdt-slider__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hide-pc .hdt-card-product .hdt-product-btns {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

.hide-pc svg {
    display: block;
}

.hide-pc .hdt-ratio {
    --ratio-percent: calc(100% /(var(--aspect-ratioapt)));
}

@media (min-width: 768px) {
    .hide-mobile {
        display: block !important;
    }

    .hide-pc {
        display: none !important;
    }
}
@media (max-width:1149px) {
    #smile-ui-lite-launcher-frame-container.smile-improved-mobile-launcher{
        bottom: 236px !important;
        right: 0 !important;
        left: unset !important;
    }
    .sca_aff_customer_refer_container[data-web-position*=bottom]{
        bottom: 87px !important;
    }
    .sca_aff_customer_refer_container[data-web-position*=right] .sca_aff_customer_refer_button{
        margin: 0;
    }
    #ShopifyChat{
        /* left: 120px !important;
        right: unset !important; */
        bottom: 168px !important;
    }
    .hdt-back-to-top{
        bottom: calc(var(--backtop-bottom,55px) + 50px) !important;
    }
}