.hdt-slideshow a {
  pointer-events: auto;
}

.hdt-slideshow .hdt-pr_title {
  margin-bottom: var(--spacing-1);
  transition: color 0.25s ease-in-out;
  will-change: color;
}

.hdt-slideshow .hdt-pr_price {
  margin-bottom: var(--spacing-2);
}

/* content align */
.hdt-slideshow .hdt-justify-left{
  justify-content: flex-start;
}
.hdt-slideshow .hdt-justify-right{
  justify-content: flex-end;
}
@media (min-width: 768px){
  .hdt-slideshow .md\:hdt-justify-left{
    justify-content: flex-start;
  }
  .hdt-slideshow .md\:hdt-justify-right{
    justify-content: flex-end;
  }
}
/* slide item with icon */

.hdt-slideshow .slide-item_icon .hdt-slide_icon {
  margin-bottom: var(--spacing-2-4);
}

.hdt-slideshow .slide-item_icon .hdt-slide_icon svg {
  width: var(--icon_size_mb);
  height: var(--icon_size_mb);
}

.hdt-slideshow .slide-item_icon .hdt-slide_heading {
  margin-bottom: var(--spacing-2-2);
}

/* slide item base */
.hdt-slideshow .slide-item_base .hdt-slide_heading {
  margin-bottom: var(--spacing-1-8);
}

.hdt-slideshow .slide-item_base .hdt-slide_subheading {
  margin-bottom: var(--spacing-2-4);
}

/* slide item label */
.hdt-slideshow .slide-item_label .hdt-slide_label {
  margin-bottom: var(--spacing-1-4);
  color: rgb(var(--color-foreground2));
}

.hdt-slideshow .slide-item_label .hdt-slide_heading {
  margin-bottom: var(--spacing-2-4);
  color: rgb(var(--color-foreground));
}

.hdt-slideshow .slide-item_label .hdt-label-bg_true {
  padding: var(--spacing-0-6) var(--spacing-2);
  background-color: rgb(var(--color-background));
  border-radius: var(--rounded-full);
}

/* slide double item */
.hdt-slideshow .hdt-content_main .hdt-content {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.hdt-slideshow .hdt-content_main *:not(.hdt-content, .hdt-slider__button, .hdt-slider__dots, .hdt-slider__dot) {
  height: 100%;
}

.hdt-slideshow .hdt-content_main .hdt-content-wrap {
  background-color: rgb(var(--color-background));
}

.hdt-slideshow .hdt-content_main .hdt-slide_heading {
  margin-bottom: var(--spacing-1-4);
}

.hdt-slideshow .hdt-content_main .hdt-slide_subheading {
  margin-bottom: var(--spacing-2-2);
}

/* slideshow button */
.hdt-slideshow .hdt-slider__button {
  pointer-events: auto;
}

.hdt-slideshow .hdt-slider__button--prev {
  margin-inline-start: var(--spacing-1-4);
}

.hdt-slideshow .hdt-slider__button--next {
  margin-inline-end: var(--spacing-1-4);
}

/* slider config */
:where(.hdt-slideshow-split, .hdt-slideshow-center) .hdt-slider__dots {
  bottom: var(--dot-space, 20px);
}

.hdt-slideshow-split .hdt-slider__dots {
  z-index: 2;
}

.hdt-slideshow .hdt-slider__dot {
  pointer-events: auto;
}

/* style default */

.hdt-slideshow.hdt-slider__dots_default .hdt-slider__dots {
  margin-top: 0;
  margin-bottom: 0;
}

.hdt-slideshow .hdt-btn+.hdt-btn {
  margin-inline-start: 0;
}

.hdt-slideshow .hdt-group_btn {
  gap: var(--spacing-0-8);
  flex-wrap: wrap;
}

/* dots space */
.hdt-slideshow .hdt-slider__dots {
  bottom: max(var(--spacing-2), calc(var(--dot-space, 20px) * 0.4));
}

.hdt-slideshow-split .hdt-slider__dots.hdt-dotss_small {
  bottom: var(--spacing-1-2);
}

.hdt-slideshow-split .hdt-slider__dots.hdt-dotss_medium {
  bottom: var(--spacing-1-2);
}

.hdt-slideshow-split .hdt-slider__dots.hdt-dotss_large {
  bottom: var(--spacing-1-2);
}

/* product */
.hdt-slideshow .hdt-price__list {
  display: inline-flex;
}

.hdt-slideshow .slide-item_label .hdt-content-bg_true {
  padding: var(--spacing-2);
  background-color: rgb(var(--color-background)/.3);
  border-radius: 1rem;
}

@media (-moz-touch-enabled: 0),
(hover: hover) and (min-width: 1150px) {
  .hdt-slideshow .hdt-slide_button:hover {
    background-color: rgb(var(--color-button-text));
    border-color: rgb(var(--color-button-text));
    color: rgb(var(--color-button));
  }

  .hdt-slideshow .hdt-pr_title:hover {
    color: rgb(var(--color-accent));
  }
}

@media (min-width: 768px) {
  .hdt-slideshow .slide-item_label .hdt-slide_heading {
    margin-bottom: var(--spacing-3-8);
  }

  .hdt-slideshow .hdt-content_main .hdt-slide_subheading {
    margin-bottom: var(--spacing-3-2);
  }

  .hdt-slideshow .slide-item_base .hdt-slide_subheading {
    margin-bottom: var(--spacing-3-2);
  }

  .hdt-slideshow .slide-item_icon .hdt-slide_heading {
    margin-bottom: var(--spacing-3-6);
  }

  .hdt-slideshow .slide-item_icon .hdt-slide_icon svg {
    width: var(--icon_size);
    height: var(--icon_size);
  }

  .hdt-slideshow .hdt-pr_price {
    margin-bottom: var(--spacing-3);
  }

  .hdt-slideshow .hdt-slide_button svg {
    height: calc(var(--spacing-1));
    width: calc(var(--spacing-1));
  }

  .hdt-slideshow .hdt-group_btn {
    gap: var(--spacing-2);
  }

  /* dots style */

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_small {
    bottom: var(--spacing-2);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_medium {
    bottom: var(--spacing-2);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_large {
    bottom: var(--spacing-2);
  }
}

@media (min-width: 992px) {

  .hdt-slideshow .hdt-slider__dots_outline .hdt-slider__dot {
    border-width: 2px;
    --size-dot: 22px;
  }

  /* dots space */
  .hdt-slideshow .hdt-slider__dots {
    bottom: max(var(--spacing-3), calc(var(--dot-space, 30px) * 0.75));
  }
}

@media (min-width: 1150px) {

  .hdt-slideshow .hdt-slider__dots_outline .hdt-slider__dot:before,
  .hdt-slideshow .hdt-slider__dots_outline .hdt-slider__dot--selected:before {
    --size-dot: var(--spacing-0-8) !important; 
  }
  /* dots space */
  .hdt-slideshow .hdt-dots-horizontal {
    bottom: var(--dot-space);
  }

  .hdt-slideshow .hdt-dots-vertical {
    top: 0;
    bottom: 0;
    left: unset;
    flex-direction: column;
  }

  .dir--rtl .hdt-slideshow .hdt-dots-vertical {
    right: unset;
    left: 0;
  }

  .hdt-slideshow .hdt-dots-horizontal {
    left: 0;
  }

  .hdt-slideshow .hdt-container-full .hdt-dots-vertical {
    margin: var(--spacing-7-2) var(--spacing-5);
  }

  .hdt-slideshow .hdt-container .hdt-dots-vertical {
    margin: var(--spacing-7-2);
  }
  .hdt-slideshow.hdt-slideshow-with-banner .hdt-container .hdt-dots-vertical{
    margin: var(--spacing-4);
  }

  .hdt-slideshow .hdt-container .hdt-dots-horizontal {
    margin: 0 14rem;
  }

  .hdt-slideshow .slide-item_label .hdt-content-bg_true {
    padding: var(--spacing-6-4) var(--spacing-4-8) var(--spacing-7) var(--spacing-4-8);
    background-color: rgb(var(--color-background));
    min-width: 550px;
  }

  .hdt-slideshow .hdt-content_main .hdt-slide_heading {
    margin-bottom: var(--spacing-1-8);
  }

  .hdt-slideshow .hdt-content_main .hdt-slide_subheading {
    margin-bottom: var(--spacing-4-8);
  }
  .hdt-slideshow .hdt-slider__button--prev {
    margin-inline-start: 140px;
  }
  
  .hdt-slideshow .hdt-slider__button--next {
    margin-inline-end: 140px;
  }

  .hdt-slideshow .hdt-container .hdt-slider__button--prev {
    margin-inline-start: var(--spacing-5);
  }

  .hdt-slideshow .hdt-container .hdt-slider__button--next {
    margin-inline-end: var(--spacing-5);
  }

  .hdt-slideshow-split .hdt-slider__button--prev {
    margin-inline-start: var(--spacing-2);
  }

  .hdt-slideshow-split .hdt-slider__button--next {
    margin-inline-end: var(--spacing-2);
  }
  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_small {
    bottom: var(--spacing-2-8);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_medium {
    bottom: var(--spacing-3-2);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_large {
    bottom: var(--spacing-3-6);
  }

  .hdt-slideshow .slide-item_base .hdt-slide_subheading {
    margin-bottom: var(--spacing-4-8);
  }

  .hdt-slideshow .center_item-true {
    --slide-size: 63%;
  }

  .hdt-slideshow .center_item-true .hdt-slideshow_item .hdt-slide_inner {
    border-radius: var(--rounded);
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_small {
    bottom: var(--spacing-4-4);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_medium {
    bottom: var(--spacing-6-4);
  }

  .hdt-slideshow-split .hdt-slider__dots.hdt-dotss_large {
    bottom: var(--spacing-8);
  }

  /*  slide spacing */
  .hdt-slideshow .hdt-container .hdt-media-overlap-content {
    --media-overlap-content-gap-r: min(5vw, var(--spacing-9));
    --media-overlap-content-gap-c: min(5vw, var(--spacing-9));
  }
/* 
  .hdt-slideshow .hdt-container-full .hdt-media-overlap-content {
    --media-overlap-content-gap-c: 0;
  } */

  .hdt-slideshow .center_item-true .hdt-media-overlap-content {
    --media-overlap-content-gap-r: min(5vw, var(--spacing-6-4));
    --media-overlap-content-gap-c: min(5vw, var(--spacing-6-4));
  }
  .hdt-slideshow .slide-with_product .hdt-media-overlap-content{
    --media-overlap-content-gap-r: min(5vw, 14rem);
  }

  /* end slide spacing */
}

@media (max-width: 1149px) {

  .hdt-slideshow-split :where(h1:not(.hdt-h1, .hdt-h2, .hdt-h3, .hdt-h4, .hdt-h5, .hdt-h6), .hdt-h1) {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}
@media (max-width: 1024px){
  .hdt-slideshow :where(h1:not(.hdt-h1,.hdt-h2,.hdt-h3,.hdt-h4,.hdt-h5,.hdt-h6),.hdt-h1){
    font-size: calc(var(--font-heading-scale) * 4.4rem);
  }
  .hdt-slideshow-split :where(h1:not(.hdt-h1,.hdt-h2,.hdt-h3,.hdt-h4,.hdt-h5,.hdt-h6),.hdt-h1){
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

@media (max-width: 767px) {
  .hdt-slideshow .hdt-order-first\@mobile{
    order: -9999;
  }
  .hdt-slideshow :where(h1:not(.hdt-h1, .hdt-h2, .hdt-h3, .hdt-h4, .hdt-h5, .hdt-h6), .hdt-h1) {
    font-size: calc(var(--font-heading-scale) * 3.4rem);
  }

  .hdt-slideshow-split :where(h1:not(.hdt-h1, .hdt-h2, .hdt-h3, .hdt-h4, .hdt-h5, .hdt-h6), .hdt-h1) {
    font-size: calc(var(--font-heading-scale) * 3.4rem);
  }

}